# Java class files, and temp files
*.class
AgencySystem/Outbound/Java/Example1/external-attachment-receiver/external-attachment-receiver-source/target/
AgencySystem/Outbound/Java/Example1/external-attachment-receiver/external-attachment-receiver-source/.idea/

#.Net bin, obj folders
AgencySystem/Outbound/DotNet/Example1/AltinnSimulatorSample/AltinnBatchReceiverService/bin
AgencySystem/Outbound/DotNet/Example1/AltinnSimulatorSample/AltinnBatchReceiverService/obj
AgencySystem/Outbound/DotNet/Example1/AltinnSimulatorSample/AltinnSim/bin
AgencySystem/Outbound/DotNet/Example1/AltinnSimulatorSample/AltinnSim/obj

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
