<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OnlineBatchReceiverSoapSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5133/OnlineBatchReceiverSoap.asmx"
                binding="basicHttpBinding" bindingConfiguration="OnlineBatchReceiverSoapSoap"
                contract="OnlineBatchReceiver.OnlineBatchReceiverSoapSoap"
                name="OnlineBatchReceiverSoapSoap" />
        </client>
    </system.serviceModel>
</configuration>
